page-episode {
  .list-ios > .item-block:first-child {
    border-top: none;

  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
  }

  .list-ios {
    margin: 10px 0 -4px 0;
  }

  .iconPlus{
    position: absolute;
    top: 12px;
    right: 5px;
  }

  .title{
    text-align: center;
  }

  .back-arrow{
    font-size: 1.3em;
    position: absolute;
    left: 2%;
    top: -2px;
  }
}
