<ion-header>
  <ion-navbar>
    <ion-title>
      Films
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div class="" [hidden]="!isActive">
    <ion-item>
       <ion-label color="primary" floating>Nom de film</ion-label>
       <ion-input [(ngModel)]="movieName"></ion-input>
    </ion-item>
    <button ion-button full [disabled]="!checkLength()" (click)="getItems()">Rechercher</button>
  </div>
  <ion-icon class="icon" name="arrow-dropdown-circle" [hidden]="isActive" (click)="displaySearchBar()"></ion-icon>
  <ion-icon class="icon" name="arrow-dropup-circle" [hidden]="!isActive" (click)="hideSearchBar()"></ion-icon>

  <p *ngIf="hasData == false" class="error">Aucun film trouvé</p>
  <ion-list *ngIf="isMovie == true">
    <ion-item (click)="getfilmDetail(movie)"  *ngFor="let movie of Movies">
      <ion-thumbnail item-left>
        <img *ngIf="movie.Poster != 'N/A'" src="{{movie.Poster}}"/>
        <img *ngIf="movie.Poster == 'N/A'" src="https://image.freepik.com/vecteurs-libre/cinema-retro-chapiteau_23-2147508018.jpg"/>
      </ion-thumbnail>
      <h2 class="truncate">{{movie.Title}}</h2>
      <p>{{movie.Type}} • {{movie.Year}}</p>
      <ion-icon class="rotate" item-right name="more"></ion-icon>
    </ion-item>
  </ion-list>

  <p class="more" *ngIf="isEnd === true">No more data</p>
   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
