<ion-header>
  <ion-navbar>
    <ion-title>
      Films
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="search-bar">
    <ion-icon *ngIf="isSearching === true" class="close" (click)="clearSearchbar()" name="close"></ion-icon>
    <ion-item class="search-bar-item">
      <ion-input placeholder="Rechercher un film" [(ngModel)]="movieName"></ion-input>
    </ion-item>

    <ion-icon class="icon search-bar-icon" name="search" [hidden]="!checkLength()" (click)="getItems()"></ion-icon>
    <ion-icon class="icon search-bar-icon greyed" name="search" [hidden]="checkLength()"></ion-icon>
  </div>

  <p *ngIf="hasData == false && hasWatchlist == false " class="error">Aucun film trouvé</p>

  <ion-list *ngIf="isMovie == true && hasData == true && isSearching == true">
    <ion-item-sliding #item1 *ngFor="let movie of Movies">
      <ion-item-options side="right">
        <button ion-button (click)="addToWatchList(movie)">A Voir</button>
      </ion-item-options>
      <ion-item (click)="getfilmDetail(movie)" >
        <ion-thumbnail item-left>
          <img *ngIf="movie.Poster != 'N/A'" src="{{movie.Poster}}"/>
          <img *ngIf="movie.Poster == 'N/A'" src="https://image.freepik.com/vecteurs-libre/cinema-retro-chapiteau_23-2147508018.jpg"/>
        </ion-thumbnail>
        <h2 class="truncate">{{movie.Title}}</h2>
        <p>{{movie.Type}} • {{movie.Year}}</p>
        <ion-icon class="rotate" item-right name="more"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <p class="more" *ngIf="isEnd === true && hasData == true && isSearching == true">No more data</p>
  <ion-infinite-scroll *ngIf="hasData == true && isSearching == true" (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list *ngIf="hasWatchlist == true && isSearching == false" class="watchlist">
    <h2>Watchlist</h2>
    <ion-item-sliding #item *ngFor="let userMovie of userMovies">
    <ion-item-options side="right">
      <button ion-button color="danger"> <ion-icon name="trash"></ion-icon></button>
      <button ion-button>TAMPON</button>
      <button ion-button color="danger"></button>
    </ion-item-options>
    <ion-item>
      <ion-thumbnail item-left>
        <img *ngIf="userMovie.movie.cover != 'N/A'" src="{{userMovie.movie.cover}}"/>
        <img *ngIf="userMovie.movie.cover == 'N/A'" src="https://image.freepik.com/vecteurs-libre/cinema-retro-chapiteau_23-2147508018.jpg"/>
      </ion-thumbnail>
      <div class="itemContent table-cell">
        <h2 class="truncate">{{userMovie.movie.name}}</h2>
        <p>{{userMovie.movie.release_date}}</p>
      </div>
      <div *ngIf="userMovie.is_seen == 1"  class="watched greyed table-cell">
        <ion-icon *ngIf="userMovie.rate == null" name="checkmark"></ion-icon>

        <p *ngIf="userMovie.rate != null">{{userMovie.rate}}<ion-icon name="star-outline"></ion-icon></p>
      </div>
    </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
