page-film-detail {
  .card-md {
    margin: 54px 10px 10px 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
