// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$writing: #FFFFFF;
$background: #1E3A61;

.icon{
  font-size: 2.2em;
  margin-left: 2%;

}

.tabs-md .tabbar {
  background: $background;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: $writing;
    background-color: transparent;
}

.tabs-md .tab-button[aria-selected=true] {
    padding: 6px 0 10px 0;
    color: $writing;
}

.toolbar-background-md {
    border-color: $writing;
    background: $background;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: bold;
    color: $writing;
}

//Change color button
.button-md {
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
    height: 3.6rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $writing;
    background-color: $background;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-md .tab-button {
    padding: 8px 0 10px 0;
    min-height: 5.6rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: rgba(181, 181, 181, 0.7);
}

.content-md {
    color: $background;
    background-color: #fff;
}

//Change item border
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0 solid #dedede;
}

//Change input border when focus
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #387ef5;
    box-shadow: inset 0 0 0 0 #387ef5;
}

//Change input label
.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
    color: $background;
    font-weight: bold;
}

//Change input label when focus
.input-has-focus .label-md[stacked], .input-has-focus .label-md[floating] {
    color: $background;
    font-weight: bold;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #32db64;
    box-shadow: inset 0 0 0 0 #32db64;
}

.item-md {
    position: relative;
    padding-right: 0;
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: $writing;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-md.activated {
    background-color: $background;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21);
}

.rotate{
  transform: rotate(90deg);
}

.more{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
