page-home {
 .recentSlide{
   width: 90px !important;
   padding-right: 5px;
   margin-left: 5px;
   height: 100px;
 }

 .imgSlide{

 }

 .recentTitle{
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: 16px;
   color: $background
  }
}
