<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5></h5>
  <ion-list>
    <ion-item class="recentTitle" >Films récents</ion-item>
    <div>
    	<ion-slides pager>

			<ion-slide *ngFor="let movie of recentMovies" class="recentSlide">
        <div class="">
          <img class="imgSlide" *ngIf="movie.cover != 'N/A'" src="{{movie.cover}}"/>
					<img class="imgSlide" *ngIf="movie.cover == 'N/A'" src="https://image.freepik.com/vecteurs-libre/cinema-retro-chapiteau_23-2147508018.jpg"/>
        </div>
			</ion-slide>
		</ion-slides>
    </div>

    <ion-item class="recentTitle" >Series recentes</ion-item>
	<div>
	<ion-slides pager>

		<ion-slide *ngFor="let serie of recentSeries" class="recentSlide">
			<ion-thumbnail item-left>
				<img class="imgSlide" *ngIf="serie.cover != 'N/A'" src="{{serie.cover}}"/>
				<img class="imgSlide" *ngIf="serie.cover == 'N/A'" src="https://image.freepik.com/vecteurs-libre/cinema-retro-chapiteau_23-2147508018.jpg"/>
			</ion-thumbnail>
		</ion-slide>

	</ion-slides>
	</div>
  </ion-list>

</ion-content>
