page-home {
 .recentSlide{
   width: 90px !important;
   padding-right: 5px;
   margin-left: 5px;
   height: 100px;
 }

 .imgSlide{

 }

 .title{
   text-align: center;
 }

 .recentTitle{
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: 16px;
   color: $background
  }

  .swiper-slide img {
    width: auto;
    height: 123px;
    max-width: 100%;
    max-height: 100%;
  }
}
